.bar {
  background: #000;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.bar.visible {
  opacity: 1;
}

.boxWorkspace {
  margin: 5;
  padding-left: 10;
  padding-right: 10;
  border-radius: 30px 30px 30px 30px;
  background: $cyan;
}

.boxVolume {
  margin: 5;
  padding-left: 10;
  padding-right: 6;
  border-radius: 30px 30px 30px 30px;
  background: $cyan;
}
.boxBrightness {
  margin: 5;
  padding-left: 10;
  padding-right: 6;
  border-radius: 30px 30px 30px 30px;
  background: $cyan;
}
.boxPhone {
  margin: 5;
  padding-left: 12;
  padding-right: 12;
  border-radius: 30px 30px 30px 30px;
  background: $cyan;
}
