.bar {
  background: #000;
}

.boxWorkspace {
  margin: 5;
  padding-left: 10;
  padding-right: 14;
  border-radius: 30px 30px 30px 30px;
  background: #3e1d33;
}

.boxVolume {
  margin: 5;
  padding-left: 10;
  padding-right: 6;
  border-radius: 30px 30px 30px 30px;
  background: #3e1d33;
}
.boxBrightness {
  margin: 5;
  padding-left: 10;
  padding-right: 6;
  border-radius: 30px 30px 30px 30px;
  background: #3e1d33;
}
.boxPhone {
  margin: 5;
  padding-left: 12;
  padding-right: 12;
  border-radius: 30px 30px 30px 30px;
  background: #3e1d33;
}
