.control {
  all: unset;
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  background: $background;
}
.shutdown {
  margin: 10px;
  background: #ff0;
}
.labelshutdown {
  color: #000;
  font-weight: bold;
  font-size: 20;
}
