.quick-settings-icon {
  all: unset;
  font-family: 'Game Played', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fe9dd7;
}
.quick-settings-text {
  all: unset;
  font-family: 'Game Played', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fe9dd7;
}
.quick-settings-state {
  all: unset;
  font-family: 'Game Played', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fe9dd7;
}
.quick-settings-state quick-settings-state-enabled {
  all: unset;
  font-family: 'Game Played', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  color: #fe9dd7;
}
