scale trough {
  background-color: $grey;
  border-radius: 50px;
  min-height: 10px;
  min-width: 100px;
  margin: 0 20px 0 20px;
}

scale trough highlight {
  background-color: $blue;
  border-radius: 10px;
}

.volumeicon {
  color: #fe9dd7;
}
.volumeicon:hover {
  color: #2fa;
}
