.focused {
  all: unset;
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  color: $blue;
}
.focused:hover {
  all: unset;
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  color: #fcd872;
}
.visible {
  all: unset;
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  color: $blue;
}
.visible:hover {
  all: unset;
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  color: #fcd872;
}
