.focused {
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  color: #fe9dd7;
}
.focused:hover {
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  color: #fcd872;
}
.visible {
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  color: #fe9dd7;
}
.visible:hover {
  font-family: 'Hack Nerd Font';
  box-shadow: 0 0 0 0rem;
  font-weight: bold;
  color: #fcd872;
}
