$foreground: #ffffff;
$grey: #aaaaaa;
$foreground-alt: #465059;
$background: #000000;
$black: #000000;
$red: #ff6565;
$green: #b8cc52;
$yellow: #e6c446;
$blue: #68d4ff;
$magenta: #ffa3aa;
$cyan: #36a3d9;
$white: #ffffff;
* {
  all: unset;
}

@import 'scss/bar.scss';
@import 'scss/corner.scss';
@import 'scss/volume.scss';
@import 'scss/bright.scss';
@import 'scss/workspace.scss';
@import 'scss/phone.scss';
@import 'scss/clock.scss';
@import 'scss/network.scss';
@import 'scss/control.scss';
@import 'scss/info.scss';
